
.highscores {
    padding: 20px;
}

.time {
    position:absolute;
    top:0;
    right:0;
    padding: 20px;
}
/*.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
.verified-answer {
    visibility: hidden;
}*/

